#buy-milk-body {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    transform: translate(5%, -5%);
>>>>>>> e439c58c60c9bad837812a2c0db0736f881f46a0
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    flex-direction: column;

}



table,
th,
td {
    border-collapse: collapse;

}

th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
}


th {
    background-color: #007bff;
    color: white;
}


table {
    border-collapse: collapse;
    background: white;
    margin-bottom: 20px;
}





.peices-inps {
    width: 80%;
    text-align: center;
}

/* .wholesaleprice {
    display: none;
} */


.download-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.download-btn:hover {
    background-color: #0056b3;
}